name: Deploy to Wago

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and Release to Wago
        uses: BigWigsMods/packager@v2
        env:
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
